server:
  port: 8762

spring:
  application:
    name: configserver
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:${user.dir}/config

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/